<div class="coupon-area">
  <p>
    <%= @publisher.name %>
  </p>
  <% @publisher.coupons.each do |coupon| %>
    <div class="coupon-thumbnail">
      <%= link_to coupon do %>
        <%= image_tag coupon.image.to_s %>
      <% end %>
    </div>
  <% end %>
</div>

<br />

<%= link_to '戻る', :back %>