// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
<<<<<<< HEAD
// You can use Sass (SCSS) here: http://sass-lang.com/

/* layout 設定 */

*{
box-sizing: border-box;
}

li {
  display: inline-block;
}


.searchbar{
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: #707070;
}

.search-box {
  color:black;
  display:inline-box;
  position:absolute;
  top:40px;
  left:16px;
  width: 250px;
  height: 45px;
  opacity:0.6;
  font-size:16px;
  border-radius:10px;
  text-align:left;
  padding:15px;
}

.search-button {
  color:white;
  display:inline-box;
  position:absolute;
  top:55px;
  left:190px;
}

.cancel-button {
  color:white;
  display:inline-box;
  position:absolute;
  top:51px;
  left:278px;
}

.cancel-button a{
  color:white;
  text-decoration: none;
  font-size:16px;
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;

  li {
    /* 横スクロール用 */
    display: inline-block;

    margin: 12px;
    margin-bottom: 24px;
  }
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: #FF9600;
}

.icon{
  position:relative;
  top:20px;
  left:0px;
  display : inline-block;
  width : 20%;
  padding:0 12px;
  text-align:center;
}  

.icon-name{
  font-size:16px;
  color:white;
  position:relative;
  top:2px;
  display : inline-block;
  width : 20%;
  padding:0 12px;
  text-align:center;
} 

.icon-name a {
  text-decoration:none;
  color:white;
} 
   
.iconimage{
  color:white;
  width:35px;
  height:35px;
}

.menuimage{
  width:33px;
  height:33px;
}

.clipimage{
  width:33px;
  height:33px;
}


.menulogo{
  color:white

} 



/* category show */
.publishers-horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;

  li {
    /* 横スクロール用 */
    display: inline-block;

    margin: 12px;
    margin-bottom: 24px;

    a {
      img {
        height: 60px;
        width: auto;
        border-radius: 50%;
      }
    }
  }
}

// You can use Sass (SCSS) here: http://sass-lang.com/

