<div class="coupon-area">
  <ul class="publishers-horizontal-list">
      <% @category.publishers.each do |publisher| %>
        <li>
          <%= link_to publisher do %>
            <%= image_tag publisher.image.to_s %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% @category.coupons.each do |coupon| %>
    <div class="coupon-thumbnail">
      <%= link_to coupon do %>
        <%= image_tag coupon.image.to_s %>
      <% end %>
    </div>
  <% end %>
</div>
